/* Evitar el desplazamiento horizontal global */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;  /* Impide el desplazamiento horizontal */
}

/* Estilo del header */
header {
    background-color: rgb(0, 0, 0);
    color: #000000;
    padding: 20px;
    text-align: center;
}

/* Fondo del body */
body {
    background-color: rgb(18, 152, 144);
}

/* Contenedor de expo */
.expo {
    overflow: hidden;
}

/* Estilo para el botón de arriba */
#botonarriba {
    background-color: #b9d455;
    color: #000000;
}

/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Estilo para las flechas flotantes */
.arrow-container {
    position: fixed;
    top: 18%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1000;
}

.anterior {
    position: absolute;
    left: 0px;
}

.siguiente {
    position: absolute;
    right: 0px;
}

/* Campo de búsqueda */
#searchInput {
    width: 50%; /* Ocupa la mitad del ancho de la página */
    padding: 12px 40px 12px 10px; /* Deja espacio a la derecha para el icono */
    font-size: 15px; /* Tamaño de fuente */
    border: 0px solid #dcdcdc; /* Bordes */
    border-radius: 20px; /* Borde redondeado */
    outline: none;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    position: fixed;
    top: 0px;
    left: 50%; /* Lo posiciona en el centro de la página */
    transform: translateX(-50%); /* Ajusta para que quede centrado exacto */
    z-index: 1000;
    text-align: left; /* Alinea el texto a la izquierda */
    padding-left: 10px; /* Margen izquierdo */
    background-color: white; /* Fondo blanco */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="orange" width="24" height="24"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center; /* Posición del icono */
    background-size: 24px 24px; /* Ajusta el tamaño del icono */
}


/* Media query para pantallas móviles */
@media (max-width: 768px) {
    #searchInput {
        width: 95%; /* El campo de búsqueda ocupa el 90% del ancho en pantallas pequeñas */
        padding: 12px 10px; /* Mantener un padding consistente */
        box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
        margin-left: auto; /* Centra el campo desde la izquierda */
        margin-right: auto; /* Centra el campo desde la derecha */
        display: block; /* Asegura que el margen se aplique correctamente */
    }
}


/* Lista de resultados */
#keywordsList {
    width: 50%; /* Ocupa la mitad del ancho de la página en pantallas grandes */
    padding: 12px 2px;
    font-size: 18px; /* Tamaño de fuente grande y legible */
    border: 0px solid #ffffff00; /* Bordes grises claros */
    border-radius: 24px; /* Bordes completamente redondeados */
    outline: none;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    max-height: calc(100vh - 60px); /* Altura máxima para ocupar el espacio restante debajo del buscador */
    overflow-y: auto; /* Añadir scroll si el contenido es largo */
    position: absolute; /* Coloca la lista debajo del buscador */
    top: 15px; /* Deja espacio para el buscador */
    left: 50%; /* Lo posiciona en el centro de la página */
    transform: translateX(-50%); /* Ajusta para que quede centrado exacto */
}
/* Color del texto del buscador */
#searchInput::placeholder {
    color: grey; 
}

/* Media query para pantallas móviles */
@media (max-width: 768px) {
    #keywordsList {
        width: 100%; /* Ocupa el 100% del ancho en pantallas pequeñas */
        left: 0; /* Alineado a la izquierda */
        transform: translateX(0); /* Elimina el ajuste de traducción */
    }
}

/* Elementos individuales de la lista */
#keywordsList li {
    padding: 12px 20px;
    font-size: 15px; /* Tamaño de fuente uniforme */
    cursor: pointer;
}

#keywordsList li:hover {
    background-color: #76767656; /* Fondo gris claro al pasar el cursor */
}
