/* Evitar el desplazamiento horizontal global */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;  /* Impide el desplazamiento horizontal */
}

/* Estilo del header */
header {
    background-color: rgb(0, 0, 0);
    color: #000000;
    padding: 20px;
    text-align: center;
}

/* Fondo del body */
body {
    background-color: rgb(18, 152, 144);
}

/* Contenedor de expo */
.expo {
    overflow: hidden;
}

/* Estilo para el botón de arriba */
#botonarriba {
    background-color: #b9d455;
    color: #000000;
}

/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Estilo para las flechas flotantes */
.arrow-container {
    position: fixed;
    top: 18%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1000;
}

.anterior {
    position: absolute;
    left: 0px;
}

.siguiente {
    position: absolute;
    right: 0px;
}
